## Tratamento das Bases

**Descrição**

* Realizar o tratamento das bases coletadas via API do projeto final na aula 12.

**Aspectos a incluir**

* Ajuste os nomes das colunas e linhas. 
* Filtros de linhas e colunas, se necessário. 
* unstack e/ou stack.
* Tratamento do tipo das variáveis.
* Ajuste de missing.
* Tratamento de colunas string. 


**Observações**

* Você pode criar novas tabelas, salvando as bases brutas e as bases tratadas.
* As bases finais precisam estar totalmente ajustadas (da melhor forma possível) e salvas no banco de dados.

In [1]:
#importação de pacotes a serem utilizados
import pandas as pd
import requests
from datetime import datetime

In [2]:
url = "https://brasilapi.com.br/api/banks/v1"
response = requests.get(url)

In [3]:
data_banks = response.json()
df_banco = pd.DataFrame(data_banks)

In [4]:
df_banco

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."
...,...,...,...,...
354,92875780,WARREN CVMC LTDA,371.0,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...
355,92894922,BANCO ORIGINAL,212.0,Banco Original S.A.
356,94968518,EFX CC LTDA.,289.0,EFX CORRETORA DE CÂMBIO LTDA.
357,,NaN,NaN,NaN
358,,NaN,NaN,NaN

In [6]:
url = "https://brasilapi.com.br/api#tag/TAXAS/ibge/uf/v1"
response_1 = requests.get(url)

In [7]:
data_ibge = response.json()
df_ibge = pd.DataFrame(data_ibge)

In [8]:
df_ibge

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."
...,...,...,...,...
354,92875780,WARREN CVMC LTDA,371.0,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...
355,92894922,BANCO ORIGINAL,212.0,Banco Original S.A.
356,94968518,EFX CC LTDA.,289.0,EFX CORRETORA DE CÂMBIO LTDA.
357,,NaN,NaN,NaN
358,,NaN,NaN,NaN

In [19]:
url = "https://brasilapi.com.br/api/cvm/corretoras/v1"
response2 = requests.get(url)

In [20]:
data_corretoras = response.json()
df_corretora= pd.DataFrame(data_corretoras)

In [21]:
df_corretora

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."
...,...,...,...,...
354,92875780,WARREN CVMC LTDA,371.0,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...
355,92894922,BANCO ORIGINAL,212.0,Banco Original S.A.
356,94968518,EFX CC LTDA.,289.0,EFX CORRETORA DE CÂMBIO LTDA.
357,,NaN,NaN,NaN
358,,NaN,NaN,NaN

* 1 - Ajuste os nomes das colunas e linhas.

In [12]:
df_banco2 = df_banco.rename(columns={'ispb': 'ISPB', 'name' : 'Razao Social', 'code': 'Codigo', 'fullName': 'Nome Completo'})

In [13]:
df_banco2

,ISPB,Razao Social,Codigo,Nome Completo
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."
...,...,...,...,...
354,92875780,WARREN CVMC LTDA,371.0,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...
355,92894922,BANCO ORIGINAL,212.0,Banco Original S.A.
356,94968518,EFX CC LTDA.,289.0,EFX CORRETORA DE CÂMBIO LTDA.
357,,NaN,NaN,NaN
358,,NaN,NaN,NaN

In [17]:
df_ibge2 = df_ibge.rename(columns={'ispb': 'ISPB', 'name' : 'Razao Social', 'code': 'Codigo', 'fullName': 'Nome Completo'})

In [18]:
df_ibge2

,ISPB,Razao Social,Codigo,Nome Completo
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."
...,...,...,...,...
354,92875780,WARREN CVMC LTDA,371.0,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...
355,92894922,BANCO ORIGINAL,212.0,Banco Original S.A.
356,94968518,EFX CC LTDA.,289.0,EFX CORRETORA DE CÂMBIO LTDA.
357,,NaN,NaN,NaN
358,,NaN,NaN,NaN

* 1.1 - Filtros de linhas e colunas, se necessário.

In [51]:
filtro = pd.DataFrame(df_ibge2['Codigo'] == 70.0)

In [52]:
# A saida não saiu exatamente como queria, queria que trouxesse todos os bancos que o cógigo é igual a 70.0
filtro

     Codigo
0     False
1      True
2     False
3     False
4     False
..      ...
354   False
355   False
356   False
357   False
358   False

[359 rows x 1 columns]

* 2 - unstack e/ou stack.

In [23]:
df_ibge_stack = df_ibge2.groupby('Nome Completo').count()

In [24]:
df_ibge_stack

                                                    ISPB  Razao Social  Codigo
Nome Completo
ACCREDITO - SOCIEDADE DE CRÉDITO DIRETO S.A.           1             1       1
ACESSO SOLUÇÕES DE PAGAMENTO S.A. - INSTITUIÇÃO...     1             1       1
ADVANCED CORRETORA DE CÂMBIO LTDA                      1             1       1
AGK CORRETORA DE CAMBIO S.A.                           1             1       1
AL5 S.A. CRÉDITO, FINANCIAMENTO E INVESTIMENTO         1             1       1
...                                                  ...           ...     ...
ZEMA CRÉDITO, FINANCIAMENTO E INVESTIMENTO S/A         1             1       1
ZIPDIN SOLUÇÕES DIGITAIS SOCIEDADE DE CRÉDITO D...     1             1       1
ÍNDIGO INVESTIMENTOS DISTRIBUIDORA DE TÍTULOS E...     1             1       1
ÓTIMO SOCIEDADE DE CRÉDITO DIRETO S.A.                 1             1       1
Órama Distribuidora de Títulos e Valores Mobili...     1             1       1

[355 rows x 3 columns]

In [28]:
df_ibge_stack.stack()

Nome Completo
ACCREDITO - SOCIEDADE DE CRÉDITO DIRETO S.A.                  ISPB            1
                                                              Razao Social    1
                                                              Codigo          1
ACESSO SOLUÇÕES DE PAGAMENTO S.A. - INSTITUIÇÃO DE PAGAMENTO  ISPB            1
                                                              Razao Social    1
                                                                             ..
ÓTIMO SOCIEDADE DE CRÉDITO DIRETO S.A.                        Razao Social    1
                                                              Codigo          1
Órama Distribuidora de Títulos e Valores Mobiliários S.A.     ISPB            1
                                                              Razao Social    1
                                                              Codigo          1
Length: 1065, dtype: int64

In [29]:
df_ibge_stack.unstack()

        Nome Completo
ISPB    ACCREDITO - SOCIEDADE DE CRÉDITO DIRETO S.A.                                 1
        ACESSO SOLUÇÕES DE PAGAMENTO S.A. - INSTITUIÇÃO DE PAGAMENTO                 1
        ADVANCED CORRETORA DE CÂMBIO LTDA                                            1
        AGK CORRETORA DE CAMBIO S.A.                                                 1
        AL5 S.A. CRÉDITO, FINANCIAMENTO E INVESTIMENTO                               1
                                                                                    ..
Codigo  ZEMA CRÉDITO, FINANCIAMENTO E INVESTIMENTO S/A                               1
        ZIPDIN SOLUÇÕES DIGITAIS SOCIEDADE DE CRÉDITO DIRETO S/A                     1
        ÍNDIGO INVESTIMENTOS DISTRIBUIDORA DE TÍTULOS E VALORES MOBILIÁRIOS LTDA.    1
        ÓTIMO SOCIEDADE DE CRÉDITO DIRETO S.A.                                       1
        Órama Distribuidora de Títulos e Valores Mobiliários S.A.                    1
Length: 1065, dtype: int64

* 3 - Tratamento do tipo das variáveis.

In [38]:
df_ibge2

,ISPB,Razao Social,Codigo,Nome Completo
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."
...,...,...,...,...
354,92875780,WARREN CVMC LTDA,371.0,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...
355,92894922,BANCO ORIGINAL,212.0,Banco Original S.A.
356,94968518,EFX CC LTDA.,289.0,EFX CORRETORA DE CÂMBIO LTDA.
357,,NaN,NaN,NaN
358,,NaN,NaN,NaN

In [37]:
df_ibge2.dtypes

ISPB              object
Razao Social      object
Codigo           float64
Nome Completo     object
dtype: object

In [40]:
df_ibge2['Codigo'] = df_ibge2['Codigo'].astype(int)
df_ibge2

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

* 4 - Ajuste de missing.

In [42]:
df_ibge3 = df_ibge2[~df_ibge2['Codigo'].isna()]

df_ibge3

,ISPB,Razao Social,Codigo,Nome Completo
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."
5,00204963,CCR SEARA,430.0,COOPERATIVA DE CREDITO RURAL SEARA - CREDISEARA
6,00250699,AGK CC S.A.,272.0,AGK CORRETORA DE CAMBIO S.A.
...,...,...,...,...
352,92856905,ADVANCED CC LTDA,117.0,ADVANCED CORRETORA DE CÂMBIO LTDA
353,92874270,BCO DIGIMAIS S.A.,654.0,BANCO DIGIMAIS S.A.
354,92875780,WARREN CVMC LTDA,371.0,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...
355,92894922,BANCO ORIGINAL,212.0,Banco Original S.A.
356,94968518,EFX CC LTDA.,289.0,EFX CORRETORA DE CÂMBIO LTDA.

In [43]:
df_ibge3.dtypes

ISPB              object
Razao Social      object
Codigo           float64
Nome Completo     object
dtype: object

In [44]:
# Após a correção dos Missing consegui realizar o Astype do DataFrame IBGE 

df_ibge3['Codigo'] = df_ibge3['Codigo'].astype(int)
df_ibge3

C:\Users\regia\AppData\Local\Temp\ipykernel_15496\4137230213.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ibge3['Codigo'] = df_ibge3['Codigo'].astype(int)

,ISPB,Razao Social,Codigo,Nome Completo
0,00000000,BCO DO BRASIL S.A.,1,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70,BRB - BANCO DE BRASILIA S.A.
4,00122327,SANTINVEST S.A. - CFI,539,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."
5,00204963,CCR SEARA,430,COOPERATIVA DE CREDITO RURAL SEARA - CREDISEARA
6,00250699,AGK CC S.A.,272,AGK CORRETORA DE CAMBIO S.A.
...,...,...,...,...
352,92856905,ADVANCED CC LTDA,117,ADVANCED CORRETORA DE CÂMBIO LTDA
353,92874270,BCO DIGIMAIS S.A.,654,BANCO DIGIMAIS S.A.
354,92875780,WARREN CVMC LTDA,371,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...
355,92894922,BANCO ORIGINAL,212,Banco Original S.A.
356,94968518,EFX CC LTDA.,289,EFX CORRETORA DE CÂMBIO LTDA.

* 5 - Tratamento de colunas string.

In [46]:
df_ibge3['RAZAO'] = df_ibge3['Razao Social'].str.replace('BCO','BANCO')

C:\Users\regia\AppData\Local\Temp\ipykernel_15496\3466376906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ibge3['RAZAO'] = df_ibge3['Razao Social'].str.replace('BCO','BANCO')

In [47]:
df_ibge3

,ISPB,Razao Social,Codigo,Nome Completo,RAZAO
0,00000000,BCO DO BRASIL S.A.,1,Banco do Brasil S.A.,BANCO DO BRASIL S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70,BRB - BANCO DE BRASILIA S.A.,BRB - BANCO DE BRASILIA S.A.
4,00122327,SANTINVEST S.A. - CFI,539,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV...",SANTINVEST S.A. - CFI
5,00204963,CCR SEARA,430,COOPERATIVA DE CREDITO RURAL SEARA - CREDISEARA,CCR SEARA
6,00250699,AGK CC S.A.,272,AGK CORRETORA DE CAMBIO S.A.,AGK CC S.A.
...,...,...,...,...,...
352,92856905,ADVANCED CC LTDA,117,ADVANCED CORRETORA DE CÂMBIO LTDA,ADVANCED CC LTDA
353,92874270,BCO DIGIMAIS S.A.,654,BANCO DIGIMAIS S.A.,BANCO DIGIMAIS S.A.
354,92875780,WARREN CVMC LTDA,371,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...,WARREN CVMC LTDA
355,92894922,BANCO ORIGINAL,212,Banco Original S.A.,BANCO ORIGINAL
356,94968518,EFX CC LTDA.,289,EFX CORRETORA DE CÂMBIO LTDA.,EFX CC LTDA.